# Ignore Gradle cache files & directories
bin/
build/

## Forge
forge-*.txt

## Eclipse
!eclipse/.metadata
eclipse/
.classpath
.gradle/
.project
.settings/

## Idea
.idea
/*.iml
/*.ipr
/*.iws

# Ignore OS cache files & directories
*.DS_Store
_MACOSX
Thumbs.db
